{{- define "main" -}}
<main class="content">
    <h1 data-text="{{ .Title }}" > {{ .Title }}</h1>
    <article>
        {{ .Content }}
    </article>
    <div class="homepage-logos">
        {{ range .Site.Menus.external }}
            <a href="{{ .URL }}" target="_blank">
            {{ .Pre }}
            </a>
        {{ end }}
    </div>
    <div class="homepage-menu">
        <ul>
            {{ $currentPage := . }}
            {{ range .Site.Menus.main }}
            <li>
                <a href="{{ .URL }}">
                    {{ .Pre }}
                    <span>{{ .Name }}</span>
                </a>
            </li>
            {{ end }}
        </ul>
    </div>
    <canvas class="background"></canvas>
</main>
{{ end }}