{{- define "main" -}}
<main class="content">
    <aside>
        <ul>
            {{ $currentPage := . }}
            {{ range .Site.Menus.main }}
                <li>
                    <a href="{{ .URL }}">
                        {{ .Pre }}
                        <span>{{ .Name }}</span>
                    </a>
                </li>
            {{ end }}
        </ul>
    </aside>
    <article>
        <h1 data-text="{{ .Title }}" > {{ .Title }}</h1>
        <p>{{ .Content }}</p>
    </article>
</main>
{{ end }}