{{- define "main" -}}
<main class="content">
    <!-- sidebar start -->
    <aside>
        <ul>
        {{ $currentPage := . }}
        {{ range .Site.Menus.about }}
            <li>
                <a href="{{ .URL }}">
                    {{ .Pre }}
                    <span>{{ .Name }}</span>
                </a>
            </li>
        {{ end }}
        </ul>
    </aside>
    <article>
        <header>
            <h1> {{.Title}} </h1>
        </header>
        {{.Content}}
        <ul>
        {{ range .Pages }}
            <li>
                <a href="{{.Permalink}}">{{.Date.Format "2006-01-02"}} | {{ .Title }}</a>
            </li>
        {{ end }}
        </ul>
    </article>
</main>
{{ end }}
