{{- define "main" -}}
<main class="content">
    <article>
        <h1> {{.Title}} </h1>
        <section class="about-content">
            {{.Content}}
        </section>
    </article>
    <aside>
        <ul>
        {{ $currentPage := . }}
        {{ range .Site.Menus.about }}
            <li>
                <a href="{{ .URL }}">
                    {{ .Pre }}
                    <span>{{ .Name }}</span>
                </a>
            </li>
        {{ end }}
        </ul>
        <ul>
        {{ range .Pages }}
            <li>
                <a href="{{.Permalink}}">{{ .Title }}</a>
            </li>
        {{ end }}
        </ul>
    </aside>
</main>
{{ end }}
