{{- define "main" -}}
<main class="content">
    <header>
        <h1><a href="{{ .RelPermalink }}">{{ .Title }}</h1></a>
        <h5>Published: {{ .PublishDate | dateFormat "Monday, Jan, 2, 2006" }}</h5>
    </header>
    <article>
        {{ .Content }}
    </article>
    <nav class="about-footer-nav">
        <a href={{with .Prev}}{{.Permalink}}{{end}}>{{with .Prev}}<< {{.RelPermalink}}{{end}}</a>
        <a href={{with .Next}}{{.Permalink}}{{end}}>{{with .Next}}{{.RelPermalink}} >>{{end}}</a>
        <br>
        <ul>
        {{ $currentPage := . }}
        {{ range .Site.Menus.about }}
            <li>
                <a href="{{ .URL }}">
                    {{ .Pre }}
                    <span>{{ .Name }}</span>
                </a>
            </li>
        {{ end }}
        </ul>
    </nav>
</main>
{{ end }}
