<header class="header">
    <div class="topnav">
        <div class="topnav-main">
            {{ $mr_logo := resources.Get "static/img/MR.png" | fingerprint }}
            <a href="/">
                <img src="{{ $mr_logo.RelPermalink }}">
            </a>
            <h4>{{ .Title }}</h4>
        </div>
        
        <div class="topnav-menu">
            {{ $currentPage := . }}
            {{ range .Site.Menus.main }}
                <a class="{{if ($currentPage.IsMenuCurrent "main" .)}}active{{end}}" href="{{ .URL }}">{{ .Name }}</a>
            {{ end }}
        </div>
    </div> 
</header>
