<head lang=en>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta 
        name="description"
        content="{{ .Site.Params.siteDescription }}"
    />
    <title>
        {{ .Title }} - Mitch Roote
    </title>

    {{ $water_dark_css := resources.Get "static/css/water.dark.css" | minify | fingerprint }}
    <link as="style" rel="preload" href="{{ $water_dark_css.RelPermalink }}" integrity="{{ $water_dark_css.Data.Integrity }}" />
    <link rel="stylesheet" id="js-startup-stylesheet" href="{{ $water_dark_css.RelPermalink }}"/>
    {{ $base_css := resources.Get "static/css/base.scss" | resources.ToCSS | minify | fingerprint }}
    <link as="style" rel="preload" href="{{ $base_css.RelPermalink }}" integrity="{{ $base_css.Data.Integrity }}" />
    <link rel="stylesheet" href="{{ $base_css.RelPermalink }}" />
</head>
