{{ $particles := resources.Get "static/js/particles.js" | minify | fingerprint }}
<script src="{{ $particles.RelPermalink }}" integrity="{{ $particles.Data.Integrity | safeHTMLAttr }}" crossorigin="anonymous"></script>
<script src="https://unpkg.com/feather-icons"></script>
<script type="text/javascript">
    const themeToggle = document.getElementById('theme-toggle');

    window.onload = function() {
        Particles.init({
          selector: '.background'
        });
      };

    feather.replace()
    updateToggle()
    themeToggle.addEventListener('change', updateTheme);
</script>